* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  width: 100%;
}

body {
  text-align: center;
  padding-top: 20px;
}

#minesweeper {
  display: inline-block;
  background-color: #bdbdbd;
}

#status_bar {
  box-sizing: padding-box;
  padding: 4px 6px;
  display: block;
  height: 32px;
  margin: 8px;
}

.display_digit_container {
  display: inline-block;
  float: left;
  width: 39px;
  height: 23px;
}

#display_time {
  float: right;
}

.display_digit_container .display_digit {
  width: 13px;
  height: 23px;
  float: left;
}

#play_button {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  margin-top: -1px;
  width: 23px;
  height: 23px;
}

#mine_field {
  margin: 8px;
  padding-bottom: 1px;
}

.mine-row {
  width: 100%;
  height: 16px;
}

.mine {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 16px;
  height: 16px;
}
.mine.open {
  border: 0;
  border-top: 1px solid #7b7b7b;
  border-left: 1px solid #7b7b7b;
}

.mine.exploded {
  background-color: #f00;
}

.border {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #7b7b7b;
  border-right: 2px solid #7b7b7b;
}

.border-reverse {
  border-top: 2px solid #7b7b7b;
  border-left: 2px solid #7b7b7b;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
